<!DOCTYPE html>
<html>
  <head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="logout.css">
  </head>
  <body>
    <h1>Logout</h1>
    <form method="POST" action="/logout">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
